body {
  font-family:Arial, sans-serif;
  margin:20px;
  background-color: pink;
}

.t-shirt-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.t-shirt-card {
  background: white;
  padding: 15px;
  border-radius:8px;
  box-shadow:2px 5px red;
  width:220px;
  text-align: center;
}
